{% include 'top.html' %}
<div class="content">
    <div class="container my-4">
        <h2 class="title">Add New Flight</h2>

        <form class="needs-validation" method="POST" action="{{url_for('add_new_flight_route')}}" novalidate>
            <div class="form-group">
                <label for="flight_id">Flight ID:</label>
                <input type="text" class="form-control" id="flight_id" name="flight_id" placeholder="Enter flight ID here" required>
                <div class="invalid-feedback">Please enter a flight ID.</div>
            </div>

            <div class="form-group">
                <label for="flight_number">Flight Number:</label>
                <input type="text" class="form-control" id="flight_number" name="flight_number" placeholder="Enter flight number here" required>
                <div class="invalid-feedback">Please enter a flight number.</div>
            </div>

            <div class="form-group">
                <label for="departure_airport_id">Departure Airport ID:</label>
                <input type="text" class="form-control" id="departure_airport_id" name="departure_airport_id" placeholder="Enter departure airport ID here" required>
                <div class="invalid-feedback">Please enter a departure airport ID.</div>
            </div>

            <div class="form-group">
                <label for="arrival_airport_id">Arrival Airport ID:</label>
                <input type="text" class="form-control" id="arrival_airport_id" name="arrival_airport_id" placeholder="Enter arrival airport ID here" required>
                <div class="invalid-feedback">Please enter an arrival airport ID.</div>
            </div>

            <div class="form-group">
                <label for="departure_time">Departure Time:</label>
                <input type="datetime-local" class="form-control" id="departure_time" name="departure_time" required>
                <div class="invalid-feedback">Please enter a departure time.</div>
            </div>

            <div class="form-group">
                <label for="arrival_time">Arrival Time:</label>
                <input type="datetime-local" class="form-control" id="arrival_time" name="arrival_time" required>
                <div class="invalid-feedback">Please enter an arrival time.</div>
            </div>

            <div class="form-group">
                <label for="aircraft_id">Aircraft ID:</label>
                <input type="text" class="form-control" id="aircraft_id" name="aircraft_id" placeholder="Enter aircraft ID here" required>
                <div class="invalid-feedback">Please enter an aircraft ID.</div>
            </div>

            <button class="btn btn-primary" type="submit">Add Flight</button>
        </form>

        <!-- Back to Main Page Button -->
        <div style="margin-top: 20px;">
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Back to Main Page</a>
        </div>
    </div>
</div>
{% include 'end.html' %}
