# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist
build
*.tsbuildinfo

# Logs
logs
*.log

# Env files
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.idea
.vscode
*.swp


#.env
.env
